@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import "config";

* {
  font: {
    family: "Rubik", sans-serif;
    size: 18px;
    weight: 400;
  }
  background-color: $bgColor;
}

main {
  width: 375px;
  margin-inline: auto;
  padding: 4em 1em;
  box-sizing: border-box;
  .profile-card {
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 1.5em;
    .profile {
      background-color: $profileBg;
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 1.5em;
      border-radius: 0.8em;
      position: relative;
      top: 1.5em;
      img {
        width: 3em;
        height: fit-content;
        background-color: $profileBg;
      }
      .profile-info {
        line-height: 0.2;
        background-color: $profileBg;
        p {
          color: $previousDataText;
          font-size: 0.8rem;
          font-weight: 300;
          background-color: $profileBg;
        }
        h1 {
          color: white;
          font-weight: 300;
          background-color: $profileBg;
        }
      }
    }
    .tabs {
      display: flex;
      justify-content: space-around;
      background-color: $dataCardBg;
      padding-block: 2em 1.3em;
      border-radius: 0.8em;
      button {
        background-color: transparent;
        border: 1px solid transparent;
        color: $btnTextColor;
        font-weight: 300;
        cursor: pointer;
      }
      button:hover {
        color: white;
      }
    }
  }
  .cd {
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
    .icon-card {
      background-color: $workIconBg;
      background-image: url(images/icon-work.svg);
      background-repeat: no-repeat;
      background-position: top right 15px;
      padding: 2.5em;
      border-radius: 0.8rem;
    }
    .data-card {
      background-color: $dataCardBg;
      border-radius: 0.8rem;
      color: white;
      padding: 1rem 1.5em 0rem 1.5em;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: -50px;
      line-height: 0.1;
      margin-bottom: -1.5em;
      p{
        background-color: $dataCardBg;
      }
      img {
        position: relative;
        left: 85px;
      }
      h2 {
        font-weight: 300;
        font-size: 2rem;
        background-color: $dataCardBg;
      }
      small {
        color: $previousDataText;
        font-size: 0.85rem;
      }
    }
  }
  #play-card {
    .icon-card {
      background-color: $playIconBg;
      background-image: url(images/icon-play.svg);
      background-repeat: no-repeat;
    }
  }
  #study-card {
    .icon-card {
      background-color: $studyIconBg;
      background-image: url(images/icon-study.svg);
      background-repeat: no-repeat;
    }
  }
  #exercise-card {
    .icon-card {
      background-color: $exerciseIconBg;
      background-image: url(images/icon-exercise.svg);
      background-repeat: no-repeat;
    }
  }
  #social-card {
    .icon-card {
      background-color: $socialIconBg;
      background-image: url(images/icon-social.svg);
      background-repeat: no-repeat;
    }
  }
  #self-care-card {
    .icon-card {
      background-color: $selfCareIconBg;
      background-image: url(images/icon-self-care.svg);
      background-repeat: no-repeat;
    }
  }
  
}
